---
name: Lint

on:
  push:
    branches:
      - main
      - 'bugfix/**'
      - 'feature/**'

jobs:
  build:
    name: Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v2.3.4
        with:
          fetch-depth: 0
      - name: Lint Code Base
        uses: github/super-linter@v3.14.3
        env:
          VALIDATE_ALL_CODEBASE: true
          DEFAULT_BRANCH: main
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
