name: Linguist

on: push

jobs:
  linguist:
    name: Run linguist
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - uses: fabasoad/linguist-action@v1.0.0
        id: linguist
        with:
          path: './'
      - name: Print linguist result
        run: echo "${{ steps.linguist.outputs.data }}"